@font-face {
    font-family: 'Josefin Sans';
    src: url(../fonts/JosefinSans-Regular.ttf)
}

body, h1, p, button {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #F5EBB8; /* vaalea beige */
    color: #000000; /* musta */
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #BF5F10; /* ruskea */
    color: #DB9B31; /* vaaleanruskea */
    padding: 24px 0;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.767);
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.767);
}

footer {
    background-color: #838746; /* oliivi */
    color: #F5EBB8; /* vaalea beige */
    padding: 16px 0;
    text-align: center;
    margin-top: auto;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.721);
}

h1 {
    margin: 0;
    font-size: 1.875rem; /* 30px */
    font-weight: 700;
}

p {
    font-size: 1.5rem; /* 24px */
    margin: 16px 0;
}
#calculate{
    background-color: #838746; /* oliivi */
    color: #F5EBB8; /* vaalea beige */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1rem; /* 16px */
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.767);
}
#calculate:hover{
    background-color: #DB9B31; /* Vaaleanruskea */
}
#kuva{
    width: 300px;
    height: auto;
    
}
.rotate-image {
        transform: rotate(360deg);
        transition: transform 1.2s ease; /* Lisää siirtymäefekti, jotta kierto tapahtuu pehmeästi */
 }

#text {
    text-align: justify;
}
/* Pelin osien fonttikoko */
#num1, #num2, #operator, input[type="number"], button#calculate, #correctCount, #incorrectCount, #message {
    font-size: 24px; 
}
.play-again-button , .palaa-button {
    background-color: #838746; /* oliivi */
    color: #F5EBB8; /* vaalea beige */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1rem; /* 16px */
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 24px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.767);
}
.progress-bar {
    background-color: #DB9B31;
    font-size: large;
    height: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.767); 
}
#correctCount {
    margin-top: 100px;
}
input[type="number"] {  /*syöttökentän muutokset*/
    padding: 10px; 
    border: 2px solid #DB9B31; 
    border-radius: 1rem; 
    font-size: 1rem; 
    width: 150px; 
    max-width: 100%; 
    margin-right: 10px; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.767); 
}

#calculate {
    background-color: #DB9B31;  /* vastaa napin muutokset*/
    color: black; 
    padding: 10px 20px; 
    border-radius: 1rem; 
    font-size: 1rem; 
    border-width: 1px; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.767); 
}

#calculate:hover, #calculate:active {
    background-color: #BF5F10; /* Muuta taustaväriä hover- ja active-tiloissa */
}
