.btn {
    margin: 10px;
    width: 100px;
}

.btn:hover {
    background-color: #DB9B31 !important;
}

.btn-check:checked+.btn {
    background-color: #DB9B31;
}

.btn:disabled {
    background-color: #DB9B31;
}

img {
    max-width: 100%;
    margin: 50px;
    width: 60%;
}

.btn-check {
    width: 100px;
}

#playAgain, #return {
    display: none;
    width: 300px;
    margin-top: 50px;
}

#answer {
    width: 200px;
}
